
.header{
  background-color: #202736;
  min-height: 60px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.header-field {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //&__btn {
  //  padding: 10px 15px;
  //  background-color: #f300b4;
  //  border-radius: 5px;
  //}
  &__btn:hover{
    cursor: pointer;
    background-color: #e40395;
  }
}
.header-menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin-left: 15%;

  & li {
    text-underline: none;
    color: #fafafa;
    list-style: none;
    margin-right: 30px;

    & a {
      color: #fafafa;
      text-decoration: none;
      color: #fafafa;
    }
  }
}

.header-field{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo-img{
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 50%;

  }

}

